body {
  position: relative;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}

#upcomingFilms {
  // position: relative;
  width: 95%;
  margin-left: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  & ::-webkit-scrollbar {
    display: none;
  }
  .listing_carousel {
    position: relative;
    .next,
    .prev {
      position: absolute;
      top: 50%;
      right: 7px;
      width: 40px;
      height: 40px;
      z-index: 3;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      &:hover{
        background-color: rgba(238,9,121,0.5);
      }
    }
    .prev {
      left: 0;
    }

    .listing_head {
      margin:2vw 0;
      h2 {
        display: inline-block;
        margin-right: 1vw;
        font-size: 1.8em;
      }
      a {
        font-size: 12px;
      }
    }
    .carousel_items {
      display: flex;
      justify-content: space-between;
      overflow-x: scroll;
      overflow: -moz-scrollbars-none;
      scrollbar-width: none;
      padding-left: 0;
      .item {
        .img-wrap {
          position: relative;
          height: 277px;
          width: 184px;
          overflow: hidden;

          .img-overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            border: 1px solid #fff;
            background-color: rgba(238,9,121,1);
            border-radius: 10px;
            padding: 3px 3px;
            i {
              font-size: 11px;
            }
          }
          &:hover .img-overlay {
            display: block;
          }
          &:hover {
            border: 1px solid rgba(238,9,121,1);
          }
        }
        &:hover img {
          filter: blur(5px);
        }
        .upcoming-film{

          margin-right: 20px;
          width: 185px;
          .poster {
            height: 278px;
          }
          .title {
            font-size: 12px;
            width: 100%;
            overflow-y: scroll;
            overflow: -moz-scrollbars-none;
            scrollbar-width: none;
            white-space: nowrap;
            margin-top: 10px;
            & ::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }
    }

  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow-x: auto;
  background-color: white;
  #closePopupBtn {
    position: absolute;
    top: 2px;
    right: 13px;
    z-index: 3;
    i {
      font-size: 30px;
      transition: all .3s linear;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        color: rgba(238,9,121,1);
      }
    }
  }
  .details-row {
    .details-container {
      padding: 0;
      .film-detail{
        .main-details-wrap {
          position: relative;
          height: 500px;
          background-color: #011627;
          .main-details {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
            .overview-wrap {
              overflow-y: auto;
              height: 85%;
              p {
                text-align: justify;
              }
            }

            .other-details{
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              width: 70%;
              margin-bottom: 23px;
              small {
                color: rgba(255, 255, 255, 0.5);
              }
              .flag {
                height: auto;
                width: 20px;
                border-radius: 50%;
              }
            }
          }
        }
        .popup-poster-wrap {
          position: relative;
          height: 500px;
          // width: 100%;
          overflow: hidden;
          .backdrop {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 100%;
            height: 100%;
            &:after{
              position:absolute;
              top:0;
              right:0;
              bottom:0;
              left:0;
              display:block;
              content:"";
              background-image:linear-gradient(90deg,#011627 0,transparent 50%,transparent);
              }
            }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;

          }
        }
        .small-poster-popup {
          margin: 30px;

        }
        .other-info {
          margin-top: 30px;
          color: black;
          th {
            padding-right: 30px;
          }
        }
      }
    }
  }
  .cast-row {
    .col-12 {
      background: linear-gradient(0deg, rgba(242,112,156,1) 20%, rgba(255,148,114,1) 70%);
      overflow-y: scroll;
      text-align: center;
      .cast-list {
        width: 100%;
        overflow-y: scroll;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .actor {
          padding: 20px;
          .actor-image {
            width: 185px;
            height: 278px;
            display: flex;
            justify-content: center;
            align-items: center;

          }
          .actor-name {
            margin-top: 10px;
            margin-bottom: 0px;
          }
          .actor-character {
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}

@media (min-width:1024px){
.backdrop_2w6W_:after{background-image:linear-gradient(90deg,#000 0,transparent 50%,transparent);}
}

.list-unstyled {
  list-style: none;
}

.list-unstyled li {
  display: inline-block;
}

.film,
.serie {
  text-align: center;
  font-size: 40px;
}

.container-film ,
.container-series {
  width: 95%;
  margin: auto;
  margin-bottom: 100px;
}

.z-index-1 {
  z-index: 1 ;
}
